.signin-button {
    transition: all 0.5s;
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: 0.5em;
}

.feather-chevron-right {
    position: absolute;
    opacity: 0;
    top: 20%;
    right: -20px;
    transition: 0.5s;
}

.signin-button:hover {
    padding-right: 24px;
    padding-left: 8px;
}

.signin-button:hover .feather-chevron-right {
    opacity: 1;
    right: 10px;
}