@keyframes bobbing {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.25rem);
    }
}

.truck-animation {
    display: inline-block;
    animation: bobbing 2s ease-in-out infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotating {
    display: inline-block;
    animation: rotate 3s linear infinite;
}

@keyframes loading-dots {

    0% {
        content: "";
    }

    30% {
        content: ".";
    }

    60% {
        content: "..";
    }

    100% {
        content: "...";
    }
}

.loading-dots::after {
    content: '';
    animation: loading-dots 3s ease-in-out infinite;
}

.loading-dots {
    display: inline-block;
    width: 1.5rem;
    text-align: left;
}